.login-botton{
  background-color: #449FBA;
  color: #fff;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s background-color;
}

.login-botton:hover{
  background-color: #6AB2C8;
}

.navbar-toggler{
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus{
  box-shadow: none;
  outline: none;
}

.nav-link{
  color: #666777;
  font-weight: 500;
  position: relative;
}

.nav-link:hover, .nav-link.active{
  color: #000;
}

@media (min-width: 991px){
  .nav-link::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 0;
    height: 2px;
    background-color: #449FBA;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }

  .nav-link:hover::before, .nav-link.active::before{
    width: 100%;
    visibility: visible;
  }
}

.header-seccion{
  background: url(src\assets\img\fondoOdonto.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
}
