<div class="menu">
  <i class="bi bi-list"></i>
  <i class="bi bi-x-lg"></i>
</div>
<div class="barra-lateral">
  <div>
    <div class="nombre-pagina">
      <i class="bi bi-c-circle-fill" id="cloud"></i>
      <span>arol</span>
    </div>
    <button class="boton">
      <i class="bi bi-plus-lg"></i>
      <span>crear nuevo</span>
    </button>
  </div>
  <nav class="navegacion">
    <ul>
      <li>
        <a id="inicio" href="">
          <i class="bi bi-house"></i>
          <span>inicio</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="bi bi-people"></i>
          <span>pacientes</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="bi bi-people"></i>
          <span>doctores</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="bi bi-calendar-date"></i>
          <span>Agenda citas</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="bi bi-file-text"></i>
          <span>reportes</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="bi bi-file-text"></i>
          <span>reportes</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="bi bi-file-text"></i>
          <span>reportes</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="bi bi-file-text"></i>
          <span>reportes</span>
        </a>
      </li>
    </ul>
  </nav>
 <div>
  <div class="linea"></div>

  <div class="usuario">
    <img src="../assets/img/hero.jpg" alt="">
    <div class="info-usuario">
      <div class="nombre-email">
        <span class="nombre">Nombre</span>
        <span class="email">Email@gmail.com</span>
      </div>
      <i class="bi bi-three-dots-vertical"></i>
    </div>
  </div>
 </div>
</div>
<div class="contenido">
  <h1>Contenido</h1>
  <p>
    El error que estás viendo indica que TypeScript no reconoce la propiedad
    style en el elemento Element. Esto se debe a que Element es el tipo más genérico
    en TypeScript para cualquier tipo de elemento HTML, y no tiene la propiedad style
    definida en él.
  </p>
  <p>
    El error que estás viendo indica que TypeScript no reconoce la propiedad
    style en el elemento Element. Esto se debe a que Element es el tipo más genérico
    en TypeScript para cualquier tipo de elemento HTML, y no tiene la propiedad style
    definida en él.
  </p>
  <p>
    El error que estás viendo indica que TypeScript no reconoce la propiedad
    style en el elemento Element. Esto se debe a que Element es el tipo más genérico
    en TypeScript para cualquier tipo de elemento HTML, y no tiene la propiedad style
    definida en él.
  </p>
  <p>
    El error que estás viendo indica que TypeScript no reconoce la propiedad
    style en el elemento Element. Esto se debe a que Element es el tipo más genérico
    en TypeScript para cualquier tipo de elemento HTML, y no tiene la propiedad style
    definida en él.
  </p>
  <p>
    El error que estás viendo indica que TypeScript no reconoce la propiedad
    style en el elemento Element. Esto se debe a que Element es el tipo más genérico
    en TypeScript para cualquier tipo de elemento HTML, y no tiene la propiedad style
    definida en él.
  </p>
  <p>
    El error que estás viendo indica que TypeScript no reconoce la propiedad
    style en el elemento Element. Esto se debe a que Element es el tipo más genérico
    en TypeScript para cualquier tipo de elemento HTML, y no tiene la propiedad style
    definida en él.
  </p>
  <p>
    El error que estás viendo indica que TypeScript no reconoce la propiedad
    style en el elemento Element. Esto se debe a que Element es el tipo más genérico
    en TypeScript para cualquier tipo de elemento HTML, y no tiene la propiedad style
    definida en él.
  </p>
  <p>
    El error que estás viendo indica que TypeScript no reconoce la propiedad
    style en el elemento Element. Esto se debe a que Element es el tipo más genérico
    en TypeScript para cualquier tipo de elemento HTML, y no tiene la propiedad style
    definida en él.
  </p>
  <p>
    El error que estás viendo indica que TypeScript no reconoce la propiedad
    style en el elemento Element. Esto se debe a que Element es el tipo más genérico
    en TypeScript para cualquier tipo de elemento HTML, y no tiene la propiedad style
    definida en él.
  </p>
  <p>
    El error que estás viendo indica que TypeScript no reconoce la propiedad
    style en el elemento Element. Esto se debe a que Element es el tipo más genérico
    en TypeScript para cualquier tipo de elemento HTML, y no tiene la propiedad style
    definida en él.
  </p>

</div>
